:root {
    --praimary-color: #00bcd4;
    --secondary-color: #ff9800;
    --primary-text-color: #fff;
    --secondary-text-color: #757575;
    --divider-color: #bdbdbd;
    --primary-background-color: #1c7436;
    --secondary-background-color: #f5f5f5;
}